## Question 1

In [14]:
from fonction import *
import pandas as pd

df_academie = pd.read_csv("academies_virgule.csv")
df_academie

,academie,wikipedia,vacances,dep,departement,region
0,Académie de Lyon,fr:Académie de Lyon (éducation),Zone A,01,Ain,Auvergne-Rhône-Alpes
1,Académie d'Amiens,fr:Académie d'Amiens (éducation),Zone B,02,Aisne,Nord-Pas-de-Calais-Picardie
2,Académie de Clermont-Ferrand,fr:Académie de Clermont-Ferrand,Zone A,03,Allier,Auvergne-Rhône-Alpes
3,Académie d'Aix-Marseille,fr:Académie d'Aix-Marseille,Zone B,04,Alpes-de-Haute-Provence,Provence-Alpes-Côte d'Azur
4,Académie d'Aix-Marseille,fr:Académie d'Aix-Marseille,Zone B,05,Hautes-Alpes,Provence-Alpes-Côte d'Azur
...,...,...,...,...,...,...
96,Académie de Versailles,fr:Académie de Versailles (éducation),Zone C,95,Val-d'Oise,Île-de-France
97,Académie de la Guadeloupe,fr:Académie de la Guadeloupe,NaN,971,Guadeloupe,Guadeloupe
98,Académie de la Martinique,fr:Académie de la Martinique,NaN,972,Martinique,Martinique
99,Académie de Guyane,fr:Académie de la Guyane,NaN,973,Guyane,Guyane
100,Académie de la Réunion,fr:Académie de La Réunion,NaN,974,La Réunion,La Réunion

In [2]:
from fonction import *
table_academie = dataframe_to_table(df_academie)
table_academie

pyarrow.Table
academie: string
wikipedia: string
vacances: string
dep: string
departement: string
region: string
----
academie: [["Académie de Lyon","Académie d'Amiens","Académie de Clermont-Ferrand","Académie d'Aix-Marseille","Académie d'Aix-Marseille",...,"Académie de Versailles","Académie de la Guadeloupe","Académie de la Martinique","Académie de Guyane","Académie de la Réunion"]]
wikipedia: [["fr:Académie de Lyon (éducation)","fr:Académie d'Amiens (éducation)","fr:Académie de Clermont-Ferrand","fr:Académie d'Aix-Marseille","fr:Académie d'Aix-Marseille",...,"fr:Académie de Versailles (éducation)","fr:Académie de la Guadeloupe","fr:Académie de la Martinique","fr:Académie de la Guyane","fr:Académie de La Réunion"]]
vacances: [["Zone A","Zone B","Zone A","Zone B","Zone B",...,"Zone C",null,null,null,null]]
dep: [["01","02","03","04","05",...,"95","971","972","973","974"]]
departement: [["Ain","Aisne","Allier","Alpes-de-Haute-Provence","Hautes-Alpes",...,"Val-d'Oise","Guadeloupe","Martinique","Guyane","La Réunion"]]
region: [["Auvergne-Rhône-Alpes","Nord-Pas-de-Calais-Picardie","Auvergne-Rhône-Alpes","Provence-Alpes-Côte d'Azur","Provence-Alpes-Côte d'Azur",...,"Île-de-France","Guadeloupe","Martinique","Guyane","La Réunion"]]

In [3]:
parquet_file = 'academie.parquet'
table_to_parquet(table_academie, parquet_file)

In [4]:
parquet_to_table('academie.parquet')

pyarrow.Table
academie: string
wikipedia: string
vacances: string
dep: string
departement: string
region: string
----
academie: [["Académie de Lyon","Académie d'Amiens","Académie de Clermont-Ferrand","Académie d'Aix-Marseille","Académie d'Aix-Marseille",...,"Académie de Versailles","Académie de la Guadeloupe","Académie de la Martinique","Académie de Guyane","Académie de la Réunion"]]
wikipedia: [["fr:Académie de Lyon (éducation)","fr:Académie d'Amiens (éducation)","fr:Académie de Clermont-Ferrand","fr:Académie d'Aix-Marseille","fr:Académie d'Aix-Marseille",...,"fr:Académie de Versailles (éducation)","fr:Académie de la Guadeloupe","fr:Académie de la Martinique","fr:Académie de la Guyane","fr:Académie de La Réunion"]]
vacances: [["Zone A","Zone B","Zone A","Zone B","Zone B",...,"Zone C",null,null,null,null]]
dep: [["01","02","03","04","05",...,"95","971","972","973","974"]]
departement: [["Ain","Aisne","Allier","Alpes-de-Haute-Provence","Hautes-Alpes",...,"Val-d'Oise","Guadeloupe","Martinique","Guyane","La Réunion"]]
region: [["Auvergne-Rhône-Alpes","Nord-Pas-de-Calais-Picardie","Auvergne-Rhône-Alpes","Provence-Alpes-Côte d'Azur","Provence-Alpes-Côte d'Azur",...,"Île-de-France","Guadeloupe","Martinique","Guyane","La Réunion"]]

In [5]:
df_ville=pd.read_csv('villes_virgule.csv')
df_ville

,dep,nom,cp,nb_hab_2010,nb_hab_1999,nb_hab_2012,dens,surf,long,lat,alt_min,alt_max
0,1,Ozan,1190,618,469,500,93,6.60,4.91667,46.38330,170.0,205.0
1,1,Cormoranche-sur-Saône,1290,1058,903,1000,107,9.85,4.83333,46.23330,168.0,211.0
2,1,Plagne,1130,129,83,100,20,6.20,5.73333,46.18330,560.0,922.0
3,1,Tossiat,1250,1406,1111,1400,138,10.17,5.31667,46.13330,244.0,501.0
4,1,Pouillat,1250,88,58,100,14,6.23,5.43333,46.33330,333.0,770.0
...,...,...,...,...,...,...,...,...,...,...,...,...
36695,976,Sada,97640,10195,10195,10195,933,10.92,45.10470,-12.84860,NaN,NaN
36696,976,Tsingoni,97680,10454,10454,10454,300,34.76,45.10700,-12.78970,NaN,NaN
36697,971,Saint-Barthélemy,97133,8938,8938,8938,372,24.00,-62.83330,17.91670,NaN,NaN
36698,971,Saint-Martin,97150,36979,36979,36979,695,53.20,18.09130,-63.08290,NaN,NaN
36699,975,Saint-Pierre-et-Miquelon,97500,6080,6080,6080,25,242.00,46.71070,1.71819,NaN,NaN

In [6]:
table_ville = dataframe_to_table(df_ville)
table_ville

pyarrow.Table
dep: string
nom: string
cp: string
nb_hab_2010: int64
nb_hab_1999: int64
nb_hab_2012: int64
dens: int64
surf: double
long: double
lat: double
alt_min: double
alt_max: double
----
dep: [["1","1","1","1","1",...,"976","976","971","971","975"]]
nom: [["Ozan","Cormoranche-sur-Saône","Plagne","Tossiat","Pouillat",...,"Sada","Tsingoni","Saint-Barthélemy","Saint-Martin","Saint-Pierre-et-Miquelon"]]
cp: [["1190","1290","1130","1250","1250",...,"97640","97680","97133","97150","97500"]]
nb_hab_2010: [[618,1058,129,1406,88,...,10195,10454,8938,36979,6080]]
nb_hab_1999: [[469,903,83,1111,58,...,10195,10454,8938,36979,6080]]
nb_hab_2012: [[500,1000,100,1400,100,...,10195,10454,8938,36979,6080]]
dens: [[93,107,20,138,14,...,933,300,372,695,25]]
surf: [[6.6,9.85,6.2,10.17,6.23,...,10.92,34.76,24,53.2,242]]
long: [[4.91667,4.83333,5.73333,5.31667,5.43333,...,45.1047,45.107,-62.8333,18.0913,46.7107]]
lat: [[46.3833,46.2333,46.1833,46.1333,46.3333,...,-12.8486,-12.7897,17.9167,-63.0829,1.71819]]
...

In [7]:
parquet_file = 'ville.parquet'
table_to_parquet(table_ville, parquet_file)

In [8]:
parquet_to_table('ville.parquet')

pyarrow.Table
dep: string
nom: string
cp: string
nb_hab_2010: int64
nb_hab_1999: int64
nb_hab_2012: int64
dens: int64
surf: double
long: double
lat: double
alt_min: double
alt_max: double
----
dep: [["1","1","1","1","1",...,"976","976","971","971","975"]]
nom: [["Ozan","Cormoranche-sur-Saône","Plagne","Tossiat","Pouillat",...,"Sada","Tsingoni","Saint-Barthélemy","Saint-Martin","Saint-Pierre-et-Miquelon"]]
cp: [["1190","1290","1130","1250","1250",...,"97640","97680","97133","97150","97500"]]
nb_hab_2010: [[618,1058,129,1406,88,...,10195,10454,8938,36979,6080]]
nb_hab_1999: [[469,903,83,1111,58,...,10195,10454,8938,36979,6080]]
nb_hab_2012: [[500,1000,100,1400,100,...,10195,10454,8938,36979,6080]]
dens: [[93,107,20,138,14,...,933,300,372,695,25]]
surf: [[6.6,9.85,6.2,10.17,6.23,...,10.92,34.76,24,53.2,242]]
long: [[4.91667,4.83333,5.73333,5.31667,5.43333,...,45.1047,45.107,-62.8333,18.0913,46.7107]]
lat: [[46.3833,46.2333,46.1833,46.1333,46.3333,...,-12.8486,-12.7897,17.9167,-63.0829,1.71819]]
...

## Question 2

In [9]:
display_table_schema(table_academie)

Table Schema:
academie: string
wikipedia: string
vacances: string
dep: string
departement: string
region: string

In [10]:
display_table_schema(table_ville)

Table Schema:
dep: string
nom: string
cp: string
nb_hab_2010: int64
nb_hab_1999: int64
nb_hab_2012: int64
dens: int64
surf: double
long: double
lat: double
alt_min: double
alt_max: double

## Question 3

In [11]:
get_column(table_ville,'nom')

<pyarrow.lib.ChunkedArray object at 0x00000219E4A19C60>
[
  [
    "Ozan",
    "Cormoranche-sur-Saône",
    "Plagne",
    "Tossiat",
    "Pouillat",
    ...
    "Sada",
    "Tsingoni",
    "Saint-Barthélemy",
    "Saint-Martin",
    "Saint-Pierre-et-Miquelon"
  ]
]

In [13]:
get_column(table_academie,'dep')

<pyarrow.lib.ChunkedArray object at 0x00000219E493FD80>
[
  [
    "01",
    "02",
    "03",
    "04",
    "05",
    ...
    "95",
    "971",
    "972",
    "973",
    "974"
  ]
]

## Question 4

f